$fontSizeSmall : 12px;
$fontSizeMiddle : 14px;
$fontSizeSubTit : 16px;
$fontSizeBigTit : 18px;

$colorMain : #2bbc6a;
$colorImportant : #e75f44;
$colorText : #333;

$colorParagraphDesc : #666;
$colorAuxiliaryDesc : #999;
$colorSecondaryBtn : #9ba5ab;
$colorBack : #ccc;
$colorLineDisable : #ddd;

$colorBackground : #f5faf7;
$colorSuspensionBackground : #f0f1f3;

$borderSolid : 1px solid #ddd;
$borderDash : 1px dashed #ddd;
$borderRaduio4: 4px;
$borderRaduio8: 8px;
