<div class="banner">
  <div class="banner_inner">
    <div class="banner_over">
      <ul>
        <li *ngFor="let item of indexBanner; let i=index;">
          <a *ngIf="i==0" target="_blank" href="/act/6441?src=index-lbt-p1&amp;src_pos=d1" ><img
          src="http://i1.chunboimg.com/{{item.image_url}})" alt="{{item.title}}"></a>
          <a *ngIf="i!=0" target="_blank" href="/act/6441?src=index-lbt-p1&amp;src_pos=d1"  style="display: none;" ><img
          src="http://i1.chunboimg.com/{{item.image_url}})" alt="{{item.title}}"></a>
        </li>
      </ul>
      <div class="banner_head">
      <a *ngFor="let item of indexBanner" href="/act/6441?src=index-lbt-p1&amp;src_pos=d2" target="_blank" class="">{{item.title}}</a>
      </div>
    </div>
  </div>
</div>

<div class="slide swiper-container" id="J_slider" style="visibility: visible;">
  <ul class="slide-img swiper-wrapper">
    <li data-index="0" class="swiper-slide">
      <a href="/act/44701?src=index-lbt-p1#d1">
        <img src="http://i0.chunboimg.com/group1/M00/21/95/Cv4IbFfISk6AXNF5AAHloXVsRTo747.jpg" alt="大闸蟹开捕">
      </a>
    </li>
  </ul>
  <ul class="slide-nav dot" style="bottom: 10px;">
    <i class="cur"></i><i class=""></i>
  </ul>
</div>