
<link rel="stylesheet" href="http://static.chunboimg.com/m/0.1.0/img/topic/old-new/s.css?v=20160909000002">
<style>
  .old-new,body{background-color: #eee8e4;}
  .old-new .counpons,.area-counpons{background-color:#9b6638;}
  .old-new .rule{color: #333;}
  .btn{ background-color: #d72b0d;  color: #fff;}

  .coupons{background-color: #eee8e4;}
  .old-new .about-p .intro{text-align: left;border-bottom: 0;}
  .get-counpons-ok.old-new{color: #333;}

  .old-new.over{padding: .12rem;}
  .old-new.over .about-p{padding: .2rem}
  .tip-dialog .dialog-act .goto:first-child:last-child{border: 0;width: 100%;}
 </style>
<!-- 领取成功 -->

<div class="old-new get-counpons-ok">
 <img src="http://i1.chunboimg.com/group1/M00/2E/AB/Cv4IdVgtUvuALTNlAAAOgXuk4Lc535.jpg" alt="" width="50" style="display:block; margin: .4rem auto;">
 <div class="congraduation">
  <div class="tit" style="color: #9b6638;">领取成功</div>
  <div class="counpons-intro">
   "匠肉酱香肘子200g"的15元抵扣券 <br> 已放入您的账户
  </div>
 </div>
 <div class="btn btn-share-counpons">
  <a href="/Coupons/index" style="display:block; color:#fff;">立即使用抵扣券</a>
 </div>

 <div class="about-p" style="margin-top:.9rem;">
  <div>长按二维码关注春播公众号<br>及时了解最新优惠</div>
  <img src="https://sstatic.chunboimg.com/m/0.1.0/img/topic/old-new/qr-code.png" alt="" width="50%" style="margin-top:.5rem;">
 </div>

 <div class="rules-ok" style="margin-top:.9rem;">
  <div class="tit">- 使用规则 -</div>
  <div class="item">1. 注册春播，1张抵扣券自动绑入您手机号对应的账户。</div>
  <div class="item">2. 下载APP，使用注册时的账号密码登录。</div>
  <img src="https://sstatic.chunboimg.com/m/0.1.0/img/topic/old-new/1.jpg" alt="下载APP，使用注册时的账号密码登录。" width="56.25%">
  <div class="item">3. 登录成功后，跳转至我的春播页面，点击我的春播券。</div>
  <img src="https://sstatic.chunboimg.com/m/0.1.0/img/topic/old-new/2.jpg" alt="3. 登录成功后，跳转至我的春播页面，点击我的春播券。" width="56.25%">
  <div class="item">4. 点击该券，进入商品页，选择“加入购物车”，并去结算。</div>
  <img src="https://sstatic.chunboimg.com/m/0.1.0/img/topic/old-new/3.png" alt="4. 点击该券，进入商品页" width="56.25%">
  <img src="https://sstatic.chunboimg.com/m/0.1.0/img/topic/old-new/4.jpg" alt="选择“加入购物车”，并去结算。" width="56.25%">
  <div class="item">5. 在订单填写页选择使用春播券，抵扣订单金额后，点击“提交订单”。</div>
  <img src="https://sstatic.chunboimg.com/m/0.1.0/img/topic/old-new/5.jpg" alt="" width="56.25%">
 </div>

</div>
<a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.chunbo.chunbomall&amp;g_f=991653" style="position:fixed; bottom:0; left:0;"><img src="https://sstatic.chunboimg.com/m/0.1.0/img/topic/old-new/app-download.png" alt="" width="100%"></a>
<div class="md-bg" id="share-tip">
 <img src="share-tip.png" alt="点击右上角将它发送给朋友" width="100%">
</div>
