
<link rel="stylesheet" href="http://static.chunboimg.com/m/0.1.0/img/topic/old-new/s.css?v=20160909000002">
<style>
  .old-new{background-color: #eee8e4;}
  .old-new .counpons,.area-counpons{background-color:#9b6638;}
  .old-new .rule{color: #333;}
  .btn{ background-color: #d72b0d;  color: #fff;}

  .coupons{background-color: #eee8e4;}
  .old-new .about-p .intro{text-align: left;border-bottom: 0;}
  .get-counpons-ok.old-new{color: #333;}
</style>
<div class="old-new">
  <div class="congraduation">
    <div class="tit" style="margin-top:.5rem; margin-bottom:.5rem; color:#9b6638;">手慢了，抵扣券被抢光了</div>
  </div>

  <div class="about-p" style="margin-top:.9rem;">
    <div>没关系,关注春播公众号<br>及时了解更多优惠活动和商品信息</div>
    <img src="https://sstatic.chunboimg.com/m/0.1.0/img/topic/old-new/qr-code.png" alt="" width="50%" style="margin-top:.5rem;">
  </div>

  <p>或者,看看下面这些商品你喜不喜欢?</p>
</div>
<div class="layer_box">

  <div class="layer">
    <ul class="layer-list layer-list-1">
      <li data-product-id="23851">
        <a href="http://www.chunbo.com/product/23851" class="product-call-back" target="_self" title="乐纯草莓蔓越莓元气酸奶135g">
          <img src="http://i2.chunboimg.com/group1/M00/27/0F/Cv4IdVfosruASQ_yAAcYy64-Vu8254_290_232.jpg" alt=""><h6>乐纯草莓蔓越莓元气酸奶</h6>
        </a>
        <p class="sub">拥有酸甜少女心的酸奶&nbsp;</p>
        <p class="sub">135g</p>
        <p class="price promotion_price">
          <em><i class="money">¥</i>16.20</em>
          <span><i class="money">¥</i>18.00</span>
        </p>
        <a cbclick="21-7" class="i-cart" data-pid="23851"></a>

        <div class="item-icon-box">
          <i class="icon i-xsqg"></i>        </div>

      </li><li data-product-id="23415">
      <a href="http://www.chunbo.com/product/23415" class="product-call-back" target="_self" title="乐纯零脂肪元气酸奶135g">
        <img src="http://i2.chunboimg.com/group1/M00/2D/5F/Cv4IbFgQgBqAMzuhAAbDmmhCTkU128_290_232.jpg" alt=""><h6>乐纯零脂肪元气酸奶</h6>
      </a>
      <p class="sub">百分之零的脂肪和蔗糖&nbsp;</p>
      <p class="sub">135g</p>
      <p class="price promotion_price">
        <em><i class="money">¥</i>14.40</em>
        <span><i class="money">¥</i>16.00</span>
      </p>
      <a cbclick="21-7" class="i-cart" data-pid="23415"></a>

      <div class="item-icon-box">
        <i class="icon i-xsqg"></i>        </div>

    </li><li data-product-id="23411">
      <a href="http://www.chunbo.com/product/23411" class="product-call-back" target="_self" title="乐纯椰子玫瑰元气酸奶135g">
        <img src="http://i2.chunboimg.com/group1/M00/2D/5D/Cv4IdVgQgI6ALl3VAAaksZK3tm4232_290_232.jpg" alt=""><h6>乐纯椰子玫瑰元气酸奶</h6>
      </a>
      <p class="sub">食用玫瑰花瓣搭配天然椰浆&nbsp;</p>
      <p class="sub">135g</p>
      <p class="price chunbo_price">
        <b><i class="money">¥</i>18.00</b>
      </p>        <a cbclick="21-7" class="i-cart" data-pid="23411"></a>

      <div class="item-icon-box">
      </div>

    </li><li data-product-id="23407">
      <a href="http://www.chunbo.com/product/23407" class="product-call-back" target="_self" title="乐纯榴莲元气酸奶135g">
        <img src="http://i3.chunboimg.com/group1/M00/2D/5D/Cv4IdVgQgL2AYnUrAAfX3TyCqXU836_290_232.jpg" alt=""><h6>乐纯榴莲元气酸奶</h6>
      </a>
      <p class="sub">添加苏丹王榴莲&nbsp;</p>
      <p class="sub">135g</p>
      <p class="price chunbo_price">
        <b><i class="money">¥</i>20.00</b>
      </p>        <a cbclick="21-7" class="i-cart" data-pid="23407"></a>

      <div class="item-icon-box">
      </div>

    </li><li data-product-id="23405">
      <a href="http://www.chunbo.com/product/23405" class="product-call-back" target="_self" title="乐纯榛子香草元气酸奶135g">
        <img src="http://i2.chunboimg.com/group1/M00/2D/5D/Cv4IdVgQgNiAQfqRAAbeGuWTIqo720_290_232.jpg" alt=""><h6>乐纯榛子香草元气酸奶</h6>
      </a>
      <p class="sub">榛子酱与香草的完美搭配&nbsp;</p>
      <p class="sub">135g</p>
      <p class="price chunbo_price">
        <b><i class="money">¥</i>18.00</b>
      </p>        <a cbclick="21-7" class="i-cart" data-pid="23405"></a>

      <div class="item-icon-box">
      </div>

    </li><li data-product-id="23413">
      <a href="http://www.chunbo.com/product/23413" class="product-call-back" target="_self" title="乐纯希腊式原味元气酸奶135g">
        <img src="http://i2.chunboimg.com/group1/M00/2D/5F/Cv4IbFgQgD-AHinkAAcENS4upDc254_290_232.jpg" alt=""><h6>乐纯原味元气酸奶</h6>
      </a>
      <p class="sub">只用三倍体积的高品质鲜奶&nbsp;</p>
      <p class="sub">135g</p>
      <p class="price promotion_price">
        <em><i class="money">¥</i>13.50</em>
        <span><i class="money">¥</i>15.00</span>
      </p>
      <a cbclick="21-7" class="i-cart" data-pid="23413"></a>

      <div class="item-icon-box">
        <i class="icon i-xsqg"></i>        </div>

    </li><li data-product-id="23403">
      <a href="http://www.chunbo.com/product/23403" class="product-call-back" target="_self" title="乐纯芒果菠萝元气酸奶135g">
        <img src="http://i3.chunboimg.com/group1/M00/2D/5D/Cv4IdVgQgQ2AJW0sAAazk45B-e0517_290_232.jpg" alt=""><h6>乐纯芒果菠萝元气酸奶</h6>
      </a>
      <p class="sub">带给你扑面而来的热带风情&nbsp;</p>
      <p class="sub">135g</p>
      <p class="price promotion_price">
        <em><i class="money">¥</i>14.40</em>
        <span><i class="money">¥</i>16.00</span>
      </p>
      <a cbclick="21-7" class="i-cart" data-pid="23403"></a>

      <div class="item-icon-box">
        <i class="icon i-xsqg"></i>        </div>

    </li>
    </ul>
  </div>
</div>

