<link rel="stylesheet" href="http://static.chunboimg.com/css/m/common.css?v=20150908000004" type="text/css" media="screen" />
<link rel="stylesheet" href="http://127.0.0.1:3000/css/m/order.css">
<link rel="stylesheet" href="http://127.0.0.1:3000/m/0.1.0/css/main.css">

<div class="order-address">
  <i></i>
  <!--<notempty name="default_address">-->
  <p class="order-address-empty">
    请选择本次订单的配送地址
  </p>
</div>
<div class="order-address">

  <i></i>
  <!--<notempty name="default_address">-->
  <h6><span class="tag">家</span><span class="order-name">叶婧</span><span class="order-phone">13141496801</span></h6>
  <p>
    <span class="order-province">北京</span>
    <span class="order-city">北京市</span>
    <span class="order-region">海淀区</span>
    <span class="order-delivery">海淀区（五环内）</span>
  </p>
  <p class="order-address-detail">中关村街道 北四环西路52号方正国际大厦1502</p>
  <input type="hidden" value="265829" name="choose_address_id" id="choose_address_id">
</div>
<input type="hidden" value="/Cart/index" id="sub_redirect_url" />

<!-- 抱歉，以下商品无法配送到您选择的区域 -->
<dl class="order-detail">
  <dt class="product_list">
    配送信息-订单1
    <span>
          共1件
        </span>
  </dt>
  <dd class="product_detail" style="display:none;">
    <p>
      法猪业联盟推荐法国猪肋排100...
      <span>
            <b>
              &times;1
            </b>
        &yen;36.90
          </span>
    </p>
  </dd>
  <dd class="order-detail-foot">
    <input type="hidden" value="2015-09-17" name="book_date" id="book_date"
    />
    <input type="hidden" value="W3sicHJvZHVjdF9pZCI6Ijg3MTEiLCJza3VfY29kZSI6IjEwMDE3NzciLCJuYW1lIjoiXHU2Y2Q1XHU3MzJhXHU0ZTFhXHU4MDU0XHU3NmRmXHU2M2E4XHU4MzUwXHU2Y2Q1XHU1NmZkXHU3MzJhXHU4MDhiXHU2MzkyMTAwMGciLCJzdWJuYW1lIjoiXHU2NzY1XHU4MWVhXHU2Y2Q1XHU1NmZkIFx1NWI4OVx1NTE2OFx1ODQyNVx1NTE3Ylx1OWFkOFx1NTRjMVx1OGQyOCIsInNob3J0bmFtZSI6Ilx1NmNkNVx1NzMyYVx1NGUxYVx1ODA1NFx1NzZkZlx1NjNhOFx1ODM1MFx1NmNkNVx1NTZmZFx1NzMyYVx1ODA4Ylx1NjM5MiIsIm1hcmtldF9wcmljZSI6IjU5LjgwIiwiY2h1bmJvX3ByaWNlIjoiNDkuODAiLCJzcGVjaWZpY2F0aW9ucyI6IjEwMDBnIiwidXJsIjoiZ3JvdXAxXC9NMDBcLzAxXC9GMFwvQ3Y0SWJGV0NYLU9BSmdGRkFBZllReDRNRmwwMzI0LmpwZyIsInNhbGVUeXBlIjoxLCJxdWFudGl0eSI6MSwiaXNfbGltaXQiOjEsIndhcmVJZCI6MSwic2FsZVdheSI6MCwiaXNTaG9ydFdhaXQiOjAsInNhbGVfcHJpY2UiOiIzNi45MCIsImlzX2dpZnQiOjJ9XQ=="
           name="product_info" class="product_info" />
    <div class="distribution">
      <div class="standard-dist dist-box">
        <div class="dist-tit"><i class="icon-col-del"></i> 标准配送</div>
        <div class="dist-cont">
          <div class="dist-date select_send_date"><i class="tag-date">明天</i><span class="date-time">6月20日（周三）</span></div>
          <div class="btn-dist-change">更改送货时间
            <select class="new-select" onchange="changeItemDateHandler(this)" id="select_send_date0" style="position: absolute;margin: 7px 0;width: 2.2rem;height: 5%;left:90px;opacity: 0;">
              <option value="9月17日">9月17日（周四）</option>
              <option value="9月18日">9月18日（周五）</option>
              <option value="9月19日">9月19日（周六）</option>
            </select>
          </div>
        </div>
      </div>
      <div class="timing-of dist-box">
        <div class="dist-tit"><i class="icon-unchecked"></i>定时配送</div>
        <div class="dist-cont timing-of-flag" style="display:none">
          <div class="dist-date"><i class="tag-date">后天</i><span class="date-time">8月19日（周日）8:00-11:00</span></div>
          <div class="btn-dist-change" id="btn-change-time">更改送货时间</div>
        </div>
      </div>
    </div>
  </dd>
</dl>
<dl class="order-detail">
  <dt class="product_list_cant cant">
    <img src="../../../../m/0.1.0/img/tip-warning.png" alt="提示" width="15">抱歉，以下商品无法配送到您选择的区域
  </dt>
  <dd class="product_detail">
    <p>
      法猪业联盟推荐法国猪肋排100...
      <span>
            <b>
              &times;1
            </b>
        &yen;36.90
          </span>
    </p>
  </dd>
  <dd class="product_detail">
    <p>
      法猪业联盟推荐法国猪肋排100...
      <span>
            <b>
              &times;1
            </b>
        &yen;36.90
          </span>
    </p>
  </dd>
</dl>



<input type="hidden" value="1" class="product_nums_all" />
<input type="hidden" value="36.90" id="product_total_price_all" />
<input type="hidden" value="" id="sub_saleType" />
<input type="hidden" value="" id="sub_is_limit" />
<input type="hidden" value="" id="sub_tag_count" />
<script>
  var _width = $(window).width() - 100;
  $('select.new-select').css({
    width: _width + 'px'
  });
</script>
<div id="chang_product_group" class="hide">
</div>
<ul class="order-detail">
  <li id="coupon_list">
    <a class="common-row-go">
      春播券
      <span class="text-intro">
                    可用0张/使用1张 已抵扣20元
                  </span>
    </a>
  </li>
  <li>
        <span class="use_price_checkbox switch-btn">
          <i class="switch-spin">
          </i>
        </span>
    <input id="chunbo_card" name="chunbo_card" value="-1" type="hidden" />
    春播卡
    <span class="text-intro" id="chunbo_card_html">
          可用0元
        </span>
  </li>
  <li>
        <span class="use_price_checkbox switch-btn">
          <i class="switch-spin">
          </i>
        </span>
    <input id="points" name="points" value="0" type="hidden" />
    积分
    <span class="text-intro" id="points_html">
          可用322积分，抵3.22元
        </span>
  </li>
  <li>
        <span class="use_price_checkbox switch-btn">
          <i class="switch-spin">
          </i>
        </span>
    <input id="balance" name="balance" value="-1" type="hidden" />
    余额
    <span class="text-intro" id="balance_html">
          可用0.00元
        </span>
  </li>
  <li id="invoice">
    <a class="common-row-go">
      发票
      <span class="text-intro" id="invoice_content">
          </span>
      <span class="invoice-title" id="invoice_title">
          </span>
    </a>
    <div class="invoice-otherinfo">
      <p id="part_pay" style="display:none;">
        发票金额会扣除使用积分、春播卡、春播券的部分哦！
      </p>
      <p id="full_pay" style="display:none;">
        抱歉，我们的发票只能提供积分、春播卡、春播券之外的部分，您已全额使用，无法开发票。
      </p>
      <i>
      </i>
    </div>
    <input type="hidden" name="needInvoice" id="needInvoice" value="0" />
  </li>
  <li class="freight">
        <span class="use_price_checkbox switch-btn">
          <i class="switch-spin">
          </i>
        </span>
    <input id="freight" name="freight" value="0" type="hidden" />
    运费
    <i class="text-intro" id="freight-num">
      本次免运费，剩余2次
    </i>
  </li>
</ul>
<!-- 明细 -->
<div class="order-cost-list">
  <p id="show_total_price">
        <span id="total_price">
        </span>
    商品金额：
  </p>
  <p id="show_freight_price">
        <span id="use_freight">
          +￥20.00
        </span>
    运费：
  </p><p class="hide" id="show_free_freight_price">
        <span id="use_free_freight">
          -￥20.00
        </span>
  免运费：
</p>
  <p class="hide" id="show_balance_price">
        <span id="use_balance">
          -￥5.00
        </span>
    余额：
  </p>
  <p class="hide" id="show_points_price">
        <span id="use_points">
          -￥5.00
        </span>
    积分：
  </p>
  <p class="hide" id="show_coupons_price">
        <span id="use_coupons">
          -￥5.00
        </span>
    春播券：
  </p>
  <p class="hide" id="show_chunbo_card_price">
        <span id="use_chunbo_card">
          -￥5.00
        </span>
    春播卡：
  </p>
</div>
<input type="hidden" value="322" name="old_points" id="old_points" />
<input type="hidden" value="3" name="old_freight_num" id="old_freight_num" />
<input type="hidden" value="0.00" name="old_balance" id="old_balance"
/>
<input type="hidden" value="0" name="old_chunbo_card" id="old_chunbo_card"
/>
<input type="hidden" value="0" id="sub_is_presale" />
<input type="hidden" value="" id="sub_total_price" />
<input type="hidden" value="10521" id="sub_member_id" />
<input type="hidden" value="http://pay.chunbo.com/mobilePayRequest.html"
       id="sub_pay_url" />
<input type="hidden" value="" id="sub_points" />
<input type="hidden" value="" id="sub_balance" />
<input type="hidden" value="" id="sub_chunbo_card" />
<input type="hidden" value="" id="sub_coupons_amount" />
<input type="hidden" value="" id="sub_coupons_number" />
<input type="hidden" value="" id="sub_needInvoice" />
<input type="hidden" value="" id="sub_invoice_title" />
<input type="hidden" value="" name="invoice_content" id="sub_invoice_content"
/>
<input type="hidden" value="" id="pay_pass_val" />
<input type="hidden" value="" id="wx_token" />
<!-- <script type="text/javascript" src="http://static.chunboimg.com/js/m/order/m_order.js?v=20150908000004"></script> -->
<script type="text/javascript" src="../../../../js/m/order/m_order.js?v=20150908000004"></script>
<!-- 固定底部购买栏 -->
<div class="buy-fixed">
实付金额：
<strong class="total-cost" id="pay_money">
</strong>
<a href="javascript:void(0);" onclick="javascript:preSubmitOrder();" id="submitOrder"
class="btn-red" cbclick="6-12">
提交订单
</a>
</div>
<!-- 支付弹窗 -->
<div class="modal-mask hide">
</div>
<div class="modal-pay hide">
<h6>
  请输入支付密码
</h6>
<input type="password" name="password" id="pay_password" placeholder="请输入支付密码"
/>
<div class="text-link">
  <a href="/Member/ForgetPayPwd" class="fr">
    忘记密码?
  </a>
</div>
<p>
使用春播卡、余额时需要使用支付密码。
</p>
<div class="modal-pay-btns">
  <button class="modal-cancel" onclick="javascript:cancelPayPass();">
    取消
  </button>
  <button class="modal-confirm" onclick="javascript:confirmPayPass();">
    确定
  </button>
</div>
</div>



<div class="mask-bg">
  <div class="warm-tip timing-of-choose">
    <div class="dia-title">选择送货时间</div>
    <div class="dia-con">
      <ul>
        <li><div class="period-time item"></div>
          <div class="item">12-23 周一</div>
          <div class="item">12-24 周二</div>
          <div class="item">12-25 周三</div></li>
        <li><div class="period-time item">08:00-11:00</div><div class="select item" data-date="12月23日（周一）8:00-11:00"><i class="icon-col-del"></i></div><div class="select item" data-date="12月24日（周二）8:00-11:00"><i class="icon-unchecked"></i></div><div class="select item" data-date="12月25日（周三）8:00-11:00"><i class="icon-unchecked"></i></div></li>
        <li><div class="period-time item">11:00-13:00</div><div class="select item" data-date="12月23日（周一）11:00-13:00"><i class="icon-unchecked"></i></div><div class="select item" data-date="12月24日（周二）11:00-13:00"><i class="icon-unchecked"></i></div><div class="select item" data-date="12月25日（周三）11:00-13:00"><i class="icon-unchecked"></i></div></li>
        <li><div class="period-time item">13:00-18:00</div><div class="select item" data-date="12月23日（周一）13:00-18:00"><i class="icon-unchecked"></i></div><div class="select item" data-date="12月24日（周二）13:00-18:00"><i class="icon-unchecked"></i></div><div class="select item" data-date="12月25日（周三）13:00-18:00"><i class="icon-unchecked"></i></div></li>
        <li><div class="period-time item">18:00-21:00</div><div class="select item" data-date="12月23日（周一）18:00-21:00"><i class="icon-unchecked"></i></div><div class="select item" data-date="12月24日（周二）18:00-21:00"><i class="icon-unchecked"></i></div><div class="select item" data-date="12月25日（周三）18:00-21:00"><i class="icon-unchecked"></i></div></li>
      </ul>
    </div>
    <div class="bottom">
      <div class="btn ok" id="timing-of-ok">确定</div>
    </div>
  </div>
  <div class="ref"></div>
</div>
<div class="peisong">[周六]送到家:都市经典家园3号楼308</div>
